body,
div {
  margin: 0;
  padding: 0;
}

#container {
  /* width: 100vw; */
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#wrapper {
  width: 512px;
  height: 768px;
  position: relative;
}

#battleField {
  width: 512px;
  height: 768px;
  background-image: url(../img/img_bg_level_1.jpg);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  overflow: hidden;
}

.myBullet {
  width: 14px;
  height: 32px;
  background: url(../img/img_bullet.png);
  background-position: -335px -171px;
  position: absolute;
}

.emyPlane {
  width: 98px;
  height: 76px;
  background: url(../img/img_plane_enemy.png);
  background-position: -267px -474px;
  position: absolute;
}

#startBG {
  width: 512px;
  height: 768px;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}

#startBtn:hover {
  cursor: pointer;
}

#data_records {
  padding: 10px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.data_records_l {
  display: flex;
  flex-direction: column;
}

.data_records_l>div,
.data_records_l>img {
  margin-bottom: 10px;
}

#health_point {
  width: 200px;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}

#hp_progress {
  width: 100px;
  height: 10px;
  border: 2px solid #964a2c;
  margin-top: 2px;
  margin-left: 10px;
}

#hp_index {
  width: 50px;
  height: 100%;
  background-color: #ec4f00;
}

#health_point .health_icon {
  width: 40px;
}

.w_m_score_icon {
  width: 100px;
}

.w_m_score img {
  float: left;
  width: 15px;
  margin: 0;
  padding: 0;
  border: 0;
}

#my_score img {
  float: left;
  width: 20px;
  margin: 0;
  padding: 0;
  border: 0;
}

#distance img {
  float: right;
  width: 15px;
  margin: 0;
  padding: 0;
  border: 0;
}

#distance {
  margin-top: 100px;
}