body,
div {
    margin: 0;
    padding: 0;
}

#container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#battleField {
    width: 512px;
    height: 768px;
    background-image: url(../img/img_bg_level_1.jpg);
    position: relative;
}

#startBG {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
}

#startBtn:hover {
    cursor: pointer;
}

#data_records {
    padding: 10px 0 0 10px;

}

.data_records_l {
    display: flex;
    flex-direction: column;

}

#health_point {}

#health_point .health_icon {
    width: 40px;
}